<h1>プロフィール</h1>

<%= form_with model: @user, url: profile_path, method: :patch, local: true do |f| %>
  <div>
    <p>アカウント名</p>
    <%= f.text_field :account_name %>
  </div>

  <div>
    <p>プロフィール画像</p>

    <div data-controller="avatar">
      <%= image_tag(
        @user.avatar.attached? ?
        @user.avatar.variant(resize_to_fill: [100, 100]) :
        "default_avatar.png",
        class: "profile-avatar",
        data: {
          action: "click->avatar#select",
          avatar_target: "preview",
          default_avatar_url: asset_path("default_avatar.png")
        }
      ) %>

      <%= f.file_field :avatar,
        accept: "image/*",
        style: "display: none;",
        data: { avatar_target: "input", action: "change->avatar#preview" } %>

      <%= hidden_field_tag :remove_avatar, "0", data: { avatar_target: "removeFlag" } %>

      <div>
        <button type="button" data-action="click->avatar#reset">
          現在のプロフィール画像を削除する
        </button>
      </div>
    </div>
  </div>

  <div>
    <%= f.submit "保存する" %>
  </div>
<% end %>