<h1>プロフィール</h1>

<%= form_with model: @user, url: profile_path, method: :patch, local: true do |f| %>

  <div>
    <p>アカウント名</p>
    <%= f.text_field :account_name %>
  </div>

  <div>
    <p>プロフィール画像</p>

    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, width: 120 %>
    <% else %>
      <%= image_tag "/app/assets/images/default_avatar.png", width: 120 %>
    <% end %>
  </div>

  <div>
    <%= f.file_field :avatar, accept: "image/*" %>
  </div>

  <div>
    <%= check_box_tag :remove_avatar, "1" %>
    <%= label_tag :remove_avatar, "現在のプロフィール画像を削除する" %>
  </div>

  <div>
    <%= f.submit "保存する" %>
  </div>

<% end %>