<div id="comments" class="comment-list">
  <% comments.each do |comment| %>
    <div class="comment-item">
      <%= link_to user_path(comment.user), class: "comment-avatar-link" do %>
        <% if comment.user.avatar.attached? %>
          <%= image_tag comment.user.avatar.variant(resize_to_fill: [80, 80]),
                alt: comment.user.account_name,
                class: "comment-avatar" %>
        <% else %>
          <%= image_tag "default_avatar.png",
                alt: comment.user.account_name,
                class: "comment-avatar" %>
        <% end %>
      <% end %>

      <div class="comment-body">
        <%= link_to comment.user.account_name, user_path(comment.user), class: "comment-user-name" %>
        <span class="comment-content"><%= comment.content %></span>
      </div>
    </div>
  <% end %>
</div>
