<div class="profile-stats">
  <div class="profile-stat-item">
    <span class="profile-stat-count"><%= user.posts.count %></span>
    <span class="profile-stat-label">Posts</span>
  </div>

  <div class="profile-stat-item">
    <%= link_to following_user_path(user), class: "profile-stat-link" do %>
      <span class="profile-stat-count"><%= user.followings.count %></span>
      <span class="profile-stat-label">Following</span>
    <% end %>
  </div>

  <div class="profile-stat-item">
    <%= link_to followers_user_path(user), class: "profile-stat-link" do %>
      <span class="profile-stat-count"><%= user.followers.count %></span>
      <span class="profile-stat-label">Followers</span>
    <% end %>
  </div>
</div>