<div class="profile-page">
  <%= render "profile_header", user: @user %>

  <div class="profile-main">
    <% if current_user == @user %>
      <%= render "profile_avatar_form", user: @user %>
    <% else %>
      <%= render "profile_avatar", user: @user %>
    <% end %>

    <%= render "profile_stats", user: @user %>
  </div>

  <div class="profile-posts-section">
    <%= render "posts/post_grid", posts: @posts %>
  </div>
</div>
