<div class="auth-page">
  <%= image_tag "devise-photo.jpg", class: "auth-image" %>

  <div class="auth-body">
    <h2 class="auth-title">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "auth-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="auth-field">
        <%= f.label :email, class: "auth-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-input" %>
      </div>

      <div class="auth-actions">
        <%= f.submit "reset password", class: "auth-button" %>
      </div>
    <% end %>
      <div class="auth-links">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>