<div class="post-header">
  <%= link_to user_path(post.user), class: "user-link" do %>
    <%= render "commons/avatar", user: post.user %>
  <% end %>

  <div class="post-user-meta">
    <%= link_to post.user.account_name, user_path(post.user), class: "user-link" %>
    <p><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  </div>
</div>

<%= link_to post_path(post), class: "post-detail-link" do %>
  <p><%= post.content %></p>
  <%= render "posts/post_images_preview", post: post %>
<% end %>

<%= render "likes/like_button", post: post %>