<%= render "commons/avatar", user: post.user %>

<%= link_to post_path(post), class: "post-detail-link" do %>
  <p><%= post.user.account_name %></p>
  <p><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
  <p><%= post.content %></p>

  <% if post.images.attached? %>
    <% post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_fill: [100, 100]).processed %>
    <% end %>
  <% end %>
<% end %>

<%= render "likes/like_button", post: post %>