<div class="post-show-page">
  <%= render "post_show_header",
      title: "Post",
      back_path: request.referer || posts_path,
      post: @post,
      show_menu: @post.user == current_user %>


  <article class="post-show-card">
    <%= render "posts/post_author", post: @post, user: @post.user %>

    <%= render "posts/post_detail_images", post: @post %>

    <%= render "posts/post_actions",
          post: @post,
          comment_path: "#comment_section" %>

    <%= render "posts/post_content", post: @post %>
  </article>

  <div id="comment_section" class="post-show-comments">
    <%= render "comments/comments", comments: @comments %>
    <%= render "comments/form", post: @post %>
  </div>
</div>