<h1>投稿詳細</h1>

  <%= render 'commons/post', post: @post %>
    
<% share_text = "#{@post.content}\n#Photogram" %>
<% share_url = post_url(@post) %>

<%= link_to "Xでシェアする",
  "https://twitter.com/intent/tweet?text=#{CGI.escape(share_text)}&url=#{CGI.escape(share_url)}",
  target: "_blank",
  rel: "noopener",
  class: "x-share-button" %>

  <% if current_user.likes.exists?(post_id: @post.id) %>
    <%= button_to post_like_path(@post), method: :delete, class: "like-button" do %>
        <%= image_tag "heart-active.svg", size: "32x32" %>
    <% end %>
  <% else %>
    <%= button_to post_like_path(@post), method: :post, class: "like-button" do %>
        <%= image_tag "heart.svg", size: "32x32" %>
    <% end %>
  <% end %>

<%= link_to '投稿一覧', posts_path %>