<h1>投稿詳細</h1>

  <%= render 'commons/post', post: @post %>
    
<% share_text = "#{@post.content}\n#Photogram" %>
<% share_url = post_url(@post) %>

<%= link_to "Xでシェアする",
  "https://twitter.com/intent/tweet?text=#{CGI.escape(share_text)}&url=#{CGI.escape(share_url)}",
  target: "_blank",
  rel: "noopener",
  class: "x-share-button" %>

<h2>コメント</h2>
<div id="comment_section">
  <%= render "comments/comments", comments: @post.comments.includes(:user).order(created_at: :desc) %>
</div>

<%= render "comments/form", post: @post %>
<%= link_to '投稿一覧', posts_path %>